.not-found-page {
  min-height: 100vh;
  background: #111215;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins', sans-serif;
}

.not-found-card {
  text-align: center;
  width: 90%;
  max-width: 500px;
}

.not-found-code {
  color: #f97316;
  font-size: 90px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}

.not-found-title {
  margin-top: 18px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
}

.not-found-description {
  margin: 20px auto 40px;
  max-width: 380px;

  color: #9ca3af;
  font-size: 18px;
  line-height: 1.7;
}

.not-found-btn {
  background: #f97316;
  color: #ffffff;

  border: none;
  border-radius: 12px;

  padding: 14px 30px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s ease;
}

.not-found-btn:hover {
  background: #ea580c;
  transform: translateY(-2px);
}
